
@{
    ViewData["Title"] = "SuccessfulCheckOut";
}

<div class="alert alert-info">
    <p>Order successfully completed</p>
    <p>Order No : @ViewBag.orderId</p>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index"></a>
